@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

*{

    box-sizing: border-box;
}
.menu{
    display: flex;
    background-color: transparent;
    margin:auto;
}
.logo {
    text-decoration:none;
    font-size: 18px;
    color:#FFB422;
    font-weight: 600;
    margin-left: 8.7%;
}
.login {
    flex:1;
    color:#838383;
    text-decoration:none;
    font-size: 11.5px;
    transition: all ease 0.2s;
    margin-left: 37%;
    align-items: center;
}
.news {
    flex:1;
    color:#fff;
    text-decoration:none;
    font-size: 11.5px;
    transition: all ease 0.2s;
    margin-left: 7%;
    align-items: center;
}
.noti {
    flex:1;
    color:#fff;
    text-decoration:none;
    font-size: 11.5px;
    transition: all ease 0.2s;
    align-items: center;
}
.notifications{
    border:2px solid #FFB422;
    border-radius:50%;
    margin-left: 0.7%;
    padding-bottom: 0.3%;
    padding-inline: 1.15%;
    align-items: center;
    color:#fff;
    align-items: center;
}
.menu nav{
    
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 4vh;
    align-items: center;
}
.menu ul{
    margin-left: 31%;
    list-style:none;
    display: flex;
    
}
.menu li{
    margin-right: 3.6%;
    position: relative;
    display: flex;
    font-weight: regular;
    float: none;
    margin-left: 15.7vh;
    
}
.menu li a{
    
    position: relative;
    flex:1;
    color:#838383;
    text-decoration:none;
    padding:0;
    font-size: 11.5px;
    transition: all ease 0.2s;
}
.menu li a:hover{
    color:#fff;
    transform: scale(1.1);
}
.login:hover{
    color:#fff;
    transform: scale(1.1);
}
#activeHome:after{
    content: "";
    position: absolute;
    background-color:#FFB422;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    left:13px;
    bottom:-13px;
    
}