@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
.descricao {
    margin-top: 6.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.descricao hr {
    border-color: #838383;
    margin: 0px 0px 0px 6%;
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
    width: 25.7%;
    height: 2px;
    border-radius: 50%;
    background-color: #838383;
}
.descricao table {
    margin: 2% 0px 2% 6%;
    border: 0px;
    padding: 0px;
}
#line1 {
    font-size: 10px;
    color:#838383;
    height: 40px;
}
#line2 {
    font-size: 13px;
    
}
.descricao table tr{
    margin: 300px;
    border: 300px;
    
}
#column1 {
    width: 20%;

}