@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
.texts {
    margin: 0px 0px 0px 6%;
    font-weight: 600;
    
}
.homeHeadline {
    margin-top: 10%;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    line-height: 0;
}
#noFill {
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;*/
    -webkit-text-fill-color: #1A1A1E;
    text-shadow: -1px 0 #fff, 0 1px #fff,
    1px 0 #fff, 0 -1px #fff;
    margin: 0px;
    line-height: 0px;
}
.homeSubHeadline {
    font-family: 'Inter', sans-serif;
    color: #838383;
    font-size: 14.7px;
    
}







/*
    Overflow-x:hidden;
*/